
*{
padding: 0;
margin: 0;
}

.AddData{
  padding: 20px;
}
.App {
  text-align: center;
  background-color: rgb(129, 212, 142);
  height: 100vh;
}

.addButon{
  padding :10px;
  margin-left:31px;
  
}


.searchdata {

padding: 10px;
margin-left: 40px;
  display: flex;
  flex-direction: column;

align-items: center;
justify-content: center;
  gap: 5px;

}
.data{
  flex-direction: column;
  display: flex;
}

.datalist{
  margin-left: 40px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: bolder;
  padding: 20px;
}

.deletebutton button{
 /* padding: 10px; */
 margin-left: 2%;
}


.itemdata
{
  margin-left: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
